<p>manger dont d'la marde!</p>

<a class="btn btn-warning" routerLink="">button de retour</a>

<div class="row">
  <div class="photoHeader text-center">
      <img src="../assets/image/Le_restaurent.jpeg" alt="Le Restaurent" class="img-fluid">
      <div class="caption">
        <div class="captionColor">
          <h3>Nous sommes</h3>
          <h3>ouvert!</h3>
         <a class="btn btn-warning" href="">Réservez votre table</a>
        </div>
      </div>
  </div>
</div>

<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
      <div class="backgroundMenu">
        <div class="pageMenu shadow p-3 mb-5 bg-white rounded">
          <div class="elementMenu">
            <h2>Entrés</h2>
            <div class="listeMenu">
              <ul>
                <li>Salade jardinière au "Feu vert" </li>
                <li>Soupe du jour "Paix à vos cendres"</li>
                <li>Ailes de Poulet "911"</li>
                <li>Frites "Flammes façon Calgary"</li>
                <li>Pain à l'ail "Co2"</li>
                <li>Tataki de saumon "Pyroman"</li>
                <li>Assiette de nachos méthode Pompéi</li>
                <li>Viande froide "Feux! Feux! Joli feu!"</li>
            </ul>
            </div>
          </div>

          <div class="elementMenu">
            <h2>Plat principal</h2>
            <div class="listeMenu">
              <ul>
                <li>Bagel saumon calciné </li>
                <li>Spécial du chef "Il n'y a pas le feu"</li>
                <li>Steak Napalm AAA sauce "Phosphore Blanc"</li>
                <li>Fondue aux frommages "Cendré des Prés"</li>
                <li>Griller un thon rouge </li>
                <li>Risotto aux morilles de feu</li>
                <li>Smoke meat montrealais façon "1852"</li>
                <li>Roti de porc cuision friction</li>
                <li>Pâtes Carbonaisées</li>
                <li>Hamburger de bison "Le feu par le feu"</li>
            </ul>
            </div>
          </div>

          <div class="elementMenu">
            <h2>Déssert</h2>
            <div class="listeMenu">
              <ul>
                <li>Crème brûlée à l'incinérateur</li>
                <li>Banane incendiaire</li>
                <li>Guimauve "au coin du feu" </li>
                <li>Mi-cuit inquisition espagnol</li>
            </ul>
            </div>
          </div>

          <div class="elementMenu">
            <h2>Cocktail</h2>
            <div class="listeMenu">
              <ul>
                <li>Old Fashioned methane</li>
                <li>Rhum and Coke fusion</li>
                <li>Gin Tonic inflamable</li>
                <li>Molotov façon Yvon Brûler</li>
                <li>Wisky on the Rock "Le feu aux poudres"</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
