<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-xs-12 col-sm-12">
      <div class="headerTop">
      <a href="#">
        <i class="bi bi-chat-quote"></i>
      </a>
      <a href="#">
        <i class="bi bi-chat-quote"></i>
      </a>
      <a href="#">
        <i class="bi bi-chat-quote"></i>
      </a>
      <span>
        <i class="bi bi-gender-trans"></i>
      icones...   1800-267-8765 |  70 rue Wellington Nord
      </span>
    </div>
    </div>
  </div>
</div>
