<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-xs-12 col-sm-12">
      <div class="headerTop">
        <a href="#" class="SocialMediaBtn"><i class="bi bi-instagram text-warning"></i></a>
        <a href="#" class="SocialMediaBtn"><i class="bi bi-twitter text-warning"></i></a>
        <a href="#" class="SocialMediaBtn"><i class="bi bi-tiktok text-warning"></i></a>
        <a href="#" class="SocialMediaBtn"><i class="bi bi-facebook text-warning"></i></a>
      <span class="text-warning">
        <i id="iconPhone" class="bi bi-telephone"></i>
        1800-267-8765 |  70 rue Wellington Nord
      </span>
    </div>
    </div>
  </div>
</div>
