<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9 col-sm-9">
      <p class="copyright"> © 2022 Yvon Brûler Bistro -
     Un faux site de restaurent en Angular/Bootstrap par Moe</p>
    </div>
    <div class="col-lg-3 col-sm-3">
      <div class="footerSocial">
        <a href="#" class="SocialMediaBtn"><i class="bi bi-instagram text-danger"></i></a>
        <a href="#" class="SocialMediaBtn"><i class="bi bi-twitter text-danger"></i></a>
        <a href="#" class="SocialMediaBtn"><i class="bi bi-tiktok text-danger"></i></a>
        <a href="#" class="SocialMediaBtn"><i class="bi bi-facebook text-danger"></i></a>
      </div>
    </div>
  </div>
</div>
