<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-sm-4">
      <div class="logo">
        <a href="#">
          <span>
          <img src="../assets/image/logo.png" alt="logo">
          </span>
        </a>
      </div>
    </div>
    <div class="col-lg-8 col-sm-8">
      <h1>Hi babe</h1>
      <nav>
        <ul>
            <li><a href="#">Manger d'la marde</a></li>
            <li><a href="#">Équipe</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Réservation</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
