<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <div class="logo">
        <a routerLink="">
          <span>
          <img src="../assets/image/logo.png" class="img-fluid" id="logo" alt="logo">
          </span>
        </a>
      </div>
    </div>
    <div class="col-lg-8 col-sm-12">
      <nav>
        <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link text-warning">Manger d'la marde</a></li>
            <li class="nav-item"><a routerLink="/equipe" class="nav-link text-warning">Équipe</a></li>
            <li class="nav-item"><a routerLink="/menu" class="nav-link text-warning">Menu</a></li>
            <li class="nav-item"><a routerLink="/réservation" class="nav-link text-warning">Réservation</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>


<!--
 <nav class="navbar navbar-expand-lg navbar-warning bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav> -->
